html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 12px;
    font-family: "Lato",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

.mainApp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
                        "top"
                        "mid"
                        "bot"
    ;
    height: 100%;
    width: 100%;
}

.top {
    grid-area: top;
    background-color: aqua;
}
.mid {
    grid-area: mid;
    background-color: blue;
}
.bot {
    grid-area: bot;
}